*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
background-image: url("/images/l.jpg");
/* background: rgb(0,0,33); */
animation:myAnimation 70s  ease-in infinite;
background-size: auto;
background-repeat: repeat-x;

}
@keyframes myAnimation {
    from{
background-position: 0,0;
    }
    to{
        background-position: 100%,0;
    }
    
}

.container{
    max-width:720px;
    height: 700px;
    background:transparent;
    border-radius: 15px;
    margin: 20px auto 0;
    text-align: center;
    padding:40px 30px;
    color:white;
    border: 6px  solid magenta;
    background:rgb(0,0,33);
    

    

}
.search-info{
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search-info input{
    border-radius: 15px;
    width: 200%;
    padding: 25px 25px;
    font-size: 20px;
    transition: 2s linear ;
    background-color: black;
    color:magenta
    
}

input{
    width: 300px;
}


.search-info input:hover{
    transform: scale(1.2);
    background-color: white;
}


.search-info button{
    border:0;
    outline:0;
    /* margin-right: 40px; */
    margin-left: 40px;

    border-radius: 50%;
    width: 120px;
    height: 50px;
    cursor:pointer;
    transition: 2s linear;
}


.search-info button:hover{
    transform: scale(1.2);
}
.search-info img{
    width:18px;
}

.img-icon{
    width:160px;
}
.weather-info{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 50px;

}

.weather-info  h1{
    font-size:80px;
    font-weight: 500;
    /* border: 2px solid white; */
        color:darkturquoise;
                background: linear-gradient(135deg,magenta,black);
                border-radius:15px;
                transition: 2s linear;
                cursor: pointer;


}
.weather-info  h1:hover{
    opacity: 1.3;
    transform: scale(1.2);
}
.weather-info p{
    font-size: 50px;
}
.weather-info  h2{
    font-size:70px;
    font-weight: 400;
    /* border: 2px solid white; */
    margin-left: 120px;
        color:darkturquoise;
        background: linear-gradient(135deg,magenta,black);
        border-radius:15px;
                transition: 2s linear;
                cursor: pointer;


}
.weather-info h2:hover{
    opacity: 1.3;
    transform: scale(1.2);
}
.temp{
    /* border: 2px solid white; */
    display: flex;
    flex-direction:column;
}


.weather-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.humidity-detail{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(135deg,magenta,black);
    border-radius: 15px;
    transition: 2s linear;
    cursor: pointer;

     /* border: 2px solid white; */
  
        /* border: 2px solid red; */
       


}
.humidity-detail:hover{
    opacity: 1.3;
    transform: scale(1.5);
    
}
.humidity-detail p{
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    color:darkturquoise;
    border-radius:15px;
}
.humdity-detail img{
    width: 60px;
}



.wind-detail{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(135deg,magenta,black);
   
     /* border: 2px solid white; */
     transition: 2s linear;
     border-radius:15px;
  cursor: pointer;

            

}
.wind-detail:hover{
    opacity: 1.3;
    transform: scale(1.2);
 
}
.wind-detail p{
    font-size: 40px;
    margin-left: 10px;
    color:darkturquoise;
    font-weight: bold;
}
.wind-detail img{
    width: 60px;
}



